@charset "utf-8";
/* CSS Document */

body {
	background:#fff;
	margin:0px;
	padding:0px;
	color:#363636;
	font-family: 'PTSansRegular';
	font-size:13px;
}
* {
	margin:0px;
	padding:0px;
}
a {
	text-decoration:none;
}
a .img {
	border:none;
}
li {
	list-style:none;
}
.clear {
	clear:both;
}
.height5 {
	height:5px;
}
.height10 {
	height:10px;
}
.height15 {
	height:15px;
}
.height20 {
	height:20px;
}
.height25 {
	height:25px;
}
.height30 {
	height:30px;
}
#wrap {
	margin:0px;
	padding:0px;
}
#wrap .container {
	width:960px;
	margin:0 auto;
}
#header {
	background:url(../images/header.jpg) repeat-x;
	width:100%;
	height:94px;
}
#header .logo {
	float:left;
	margin:20px 0 0 0;
}
#header .nav {
	line-height:95px;
	float:right;
}
#header .nav li {
	float:left;
	margin:0 0 0 0px;
}
#header .nav a {
	text-transform:uppercase;
	font-size:13px;
	color:#3d3d3d;
	padding:5px 18px;
	margin:0 0 0 5px;
}
#header .nav a.sel {
	background:#fa9709;
	color:#fff;
}
#header .nav a:hover {
	background:#fa9709;
	color:#fff;
	-webkit-transition: none;
	-o-transition: 0;
	transition: none;
	-moz-transition: background-color 1000ms ease;
	-webkit-transition: background-color 1000ms ease;
	-o-transition: background-color 1000ms ease;
	transition: background-color 1000ms ease;
}
.main_nav li a:hover, .menu ul li:hover a{
			/*background: #2580a2 url("images/hover.gif") bottom center no-repeat;*/
			color:#FFFFFF;
			text-decoration:none;
			}
	.main_nav li ul{
    display: none;
    height: auto;
    position: absolute;
    width: 225px;
	transition: all 0.4s ease 0s;
    z-index: 2000;
	margin:0px 0 0 0px;
		
		/*top:1em;
		/*left:0;*/
		}
	.main_nav li:hover ul{
		display:block;
		
		}
	.main_nav li li {
		display:block;
		float:none;
		margin:0px;
		padding:0px;
		width:195px;
		border-bottom:1px solid #ededed;
		}
		.main_nav li li.last {
		border-bottom:none;
		}
	.main_nav li:hover li a{
		background:#fff;
	}
	.main_nav li:hover li a.top{
		border-top: solid 3px #fa9709;
	}
	.main_nav li ul a{ 
		display: block;
    font-size: 12px;
    font-style: normal;
    height: 28px; line-height:30px;
    margin-bottom: 0;
    margin-left: 0 !important;
    margin-right: 0;
    padding: 10px 10px 0 15px;
    text-align: left;
	color:#fff;
		}

	.main_nav li ul a:hover, .menu li ul li:hover a{
			background:#fa9709 !important;
			border:0px;
			color:#ffffff;
			text-decoration:none;transition: all 0.4s ease 0s; padding-left:0px;
			
			}
	.menu p{
		clear:left;
		}